html.is-clipped--navbar {
  overflow-y: hidden;
}

body {
  padding-top: var(--navbar-height);
}

.navbar {
  /* background: var(--thoughtspot-blue); */
  background: linear-gradient(89deg, rgba(68, 68, 68, 1) 0%, rgba(78, 85, 253, 1) 15%, rgba(78, 85, 253, 1) 50%, rgba(71, 74, 130, 1) 85%, rgba(68, 68, 68, 1) 100%);
  color: var(--navbar-font-color);
  font-size: calc(16 / var(--rem-base) * 1rem);
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--z-index-navbar);
}

/* added from centered default ui */
.navbar .container {
  display: flex;
  align-items: center;
  height: var(--navbar-height);
}
/* end - added from centered default ui */

.navbar a {
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-brand {
  display: flex;
  padding-left: 1rem;
  position: relative; /* changed to align search box to the right */
  z-index: var(--z-index-navbar);
}

.navbar-brand .navbar-item:first-child,
.navbar-brand .navbar-item:first-child a {
  align-self: center;
  padding: 0;
  color: var(--navbar-font-color);
  font-size: calc(22 / var(--rem-base) * 1rem);
  flex-grow: 100; /* added to keep search box aligned right */
}

.navbar-brand .separator {
  padding: 0 0.375rem;
}

.navbar-burger {
  background: none;
  border: none;
  outline: none;
  line-height: 1;
  position: relative;
  width: 3rem;
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
}

.navbar-burger span {
  background-color: var(--navbar-font-color);
  height: 2px;
  width: 1rem;
}

.navbar-burger:not(.is-active) span {
  transition: transform ease-out 0.25s, opacity 0s 0.25s, margin-top ease-out 0.25s 0.25s;
}

.navbar-burger span + span {
  margin-top: 0.25rem;
}

.navbar-burger.is-active span + span {
  margin-top: -2px;
}

.navbar-burger.is-active span:nth-child(1) {
  transform: rotate(45deg);
}

.navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
  transform: rotate(-45deg);
}

.navbar-item,
.navbar-link {
  color: var(--navbar-menu-font-color);
  display: block;
  line-height: var(--doc-line-height);
  padding: 0.5rem 1rem;
}

.navbar-item.has-dropdown {
  padding: 0;
  margin-top: 7px; /* changed for centered ui */
}

.navbar-item .icon {
  width: 1.25rem;
  height: 1.25rem;
  display: block;
}

.navbar-item .icon img,
.navbar-item .icon svg {
  fill: currentColor;
  width: inherit;
  height: inherit;
}

.navbar-link {
  padding-right: 2.5em;
}

.navbar-item.has-dropdown .navbar-link {
  padding-right: 2.5em;
  margin-top: -10px;
}

.navbar-dropdown .navbar-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.navbar-divider {
  background-color: var(--navbar-menu-border-color);
  border: none;
  height: 1px;
  margin: 0.25rem 0;
}

.navbar .button {
  display: inline-flex;
  align-items: center;
  background: var(--navbar-button-background);
  border: 1px solid var(--navbar-button-border-color);
  border-radius: 0.15rem;
  height: 1.75rem;
  color: var(--navbar-button-font-color);
  padding: 0 0.75em;
  white-space: nowrap;
}

@media screen and (max-width: 1023.5px) {
  .navbar-brand {
    height: inherit;
    width: 100%; /* added from centered default ui */
  }
}

@media screen and (min-width: 1024px) {
  .navbar-brand {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 40; /* changed to align search box to right */
  }
}

@media screen and (max-width: 1023.5px) {
  .navbar-end .navbar-item {
    margin-left: 20px; /* added from centered default ui */
  }
}

@media screen and (max-width: 1023.5px) {
  .navbar-menu {
    max-height: calc(100vh - 3.5rem);
    background: #fff;
    -webkit-box-shadow: 0 8px 16px rgb(10 10 10 / 10%);
    /* box-shadow: 0 8px 16px rgb(10 10 10 / 10%); */
    position: fixed;
    top: 10px;
    margin-top: 50px;
    margin-left: -20px;
    padding: 0.5rem 0;
    width: 100%;
    z-index: var(--z-index-navbar-menu);
    /* background: var(--navbar-menu-background); */
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    /* max-height: var(--body-min-height); */
    overflow-y: initial;
  }

  .navbar-brand .navbar-item {
    align-items: center;
    display: flex;
  }

  /*  .navbar-menu {
    background: var(--navbar-menu-background);
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    max-height: var(--body-min-height);
    overflow-y: auto;
    padding: 0.5rem 0;
    z-index: var(--z-index-navbar-menu);
  } */

  .navbar-menu:not(.is-active) {
    display: none;
  }

  .navbar-menu a.navbar-item:hover,
  .navbar-menu .navbar-link:hover {
    background: var(--navbar-menu_hover-background);
  }
  /* new nav bar stuff - start */
  .navbar-end .navbar-item.search {
    height: 3rem;
    display: flex;
  }

  #search .query {
    height: 100%;
    /* new nav bar stuff - end */
  }
}

@media screen and (min-width: 1024px) {
  .navbar-burger {
    display: none;
  }

  .navbar,
  .navbar-menu,
  .navbar-end {
    display: flex;
  }

  .navbar-menu {
    flex: auto;
    padding-top: 13px;  /* changed for centered ui */
  }

  .navbar-end {
    margin-left: auto;
  }

  .navbar-item,
  .navbar-link {
    display: flex;
    position: relative;
    flex: none;
  }

  .navbar-item:not(.has-dropdown),
  .navbar-link {
    align-items: center;
  }

  .navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block;
  }

  .navbar-link::after {
    border-width: 0 0 1px 1px;
    border-style: solid;
    content: "";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    transform: rotate(-45deg);
    width: 0.5em;
    margin-top: -0.375em;
    right: 1.125em;
    top: 50%;
  }

  .navbar-end > .navbar-item,
  .navbar-end .navbar-link {
    color: var(--navbar-font-color);
  }

  .navbar-end > a.navbar-item:hover,
  .navbar-end .navbar-link:hover,
  .navbar-end .navbar-item.has-dropdown:hover .navbar-link {
    /* background: var(--thoughtspot-blue); */
    color: var(--navbar-font-color);
  }

  .navbar-end .navbar-link::after {
    border-color: currentColor;
  }

  .navbar-dropdown {
    background: #fff;
    border: 1px solid var(--navbar-menu-border-color);
    border-top: none;
    border-radius: 0 0 0.25rem 0.25rem;
    display: none;
    top: 87%;
    left: 0;
    min-width: 100%;
    position: absolute;
  }

  .navbar-dropdown .navbar-item {
    padding: 0.5rem 3rem 0.5rem 1rem;
    white-space: nowrap;
  }

  .navbar-dropdown .navbar-item:last-child {
    border-radius: inherit;
  }

  .navbar-dropdown.is-right {
    left: auto;
    right: 0;
  }

  /* added from centered default ui - begin */
  .navbar-brand,
  .navbar-item + .navbar-item {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    /*  justify-content: flex-end; */
  }
  /* added from centered default ui - end */

  .navbar-dropdown a.navbar-item:hover {
    background: #f5f5f5;
  }
}
