  <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}"><img src="{{uiRootPath}}/img/company_logo_white.svg" alt="ThoughtSpot logo" height="47.42" width="158"/><!--{{site.title}}--></a>
